@page "/"
@using FinanceTracker.Models
@using FinanceTracker.Services
@inject CsvService _csvService

<div class="w-4/6 items-center">
    <h1 class="text-2xl font-bold">Budget Tracker</h1>
    <div class="flex flex-row space-x-10">
        <div class="flex flex-col p-2 border border-md border-black rounded-md w-min my-5 justify-between">
            <h1 class="text-lg">Current Balance</h1>
            <h1 class="font-bold text-lg @(_debitCardTransactions.Select(x => x.Amount).Sum() > 0 ? "text-green-700" : "text-red-500")">$@_debitCardTransactions.Select(x => x.Amount).Sum()</h1>
        </div>
        <div class="flex flex-col p-2 border border-md border-black rounded-md w-min my-5 justify-between">
            <h1 class="text-lg">Total Earnings To Date</h1>
            <h1 class="font-bold text-lg text-green-700">$@_debitCardTransactions.Where(x => x.Detail.ToUpper() == "CREDIT").Select(x => x.Amount).Sum()</h1>
        </div>
        <div class="flex flex-col p-2 border border-md border-black rounded-md w-min my-5 justify-between">
            <h1 class="text-lg">Total Spending To Date</h1>
            <h1 class="font-bold text-lg text-red-700">$@_debitCardTransactions.Where(x => x.Detail.ToUpper() == "DEBIT").Select(x => x.Amount).Sum()</h1>
        </div>
        
    </div>
    <div class="">
        @foreach (var transaction in _debitCardTransactions)
        {
            <div class="flex flex-row justify-between text-left my-2">
                <div class="flex flex-row space-x-10">
                    <span class="">@transaction.PostingDate.Date.ToString("MM/dd/yyyy")</span>
                    <span class="@(transaction.Amount > 0 ? "text-green-700" : "text-red-700") font-bold">@transaction.Amount</span>
                </div>
                <span class="">@transaction.Description</span>
            </div>
        }
    </div>
</div>

@code{

    private List<DebitCardTransaction> _debitCardTransactions = new();

    protected override Task OnInitializedAsync()
    {
        _debitCardTransactions = Task.Run(() => _csvService.GetDebitCardTransactionsAsync()).Result;
        return base.OnInitializedAsync();
    }

}